<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>相册</title>
  <style>
    .image-item {
      float: left;
      margin: 20px;
      width: 200px;
    }
  </style>
</head>
<body>

<% for(var i = 0; i < album.length; i++) {%>
  <div class="image-item">
    <img src="/static/images/<%= album[i]%>" alt="">
    <span><%= album[i]%></span>
  </div>
<%}%>
</body>
</html>